{% extends "base.html" %}
{% block content %}
<h2>Add Doctor</h2>
<form method="POST">
    Doctor Name: <input type="text" name="name" required><br><br>
    Specialization: <input type="text" name="specialization" required><br><br>
    Hospital:
    <select name="hospital_id" required>
        {% for hospital in hospitals %}
        <option value="{{ hospital.id }}">{{ hospital.name }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Add Doctor">
</form>
{% endblock %}
